@media (min-width: 320px) and (max-width: 767px) {
  body .common_tittle {
    text-align: center !important;
  }
  p {
    line-height: 23px;
  }
  .common_padding {
    padding: 40px 0px;
  }
  .header {
    position: absolute;
  }
  .header_bottom.header_fixed,
  .header_bottom,
  .mobile-header-div {
    height: 80px;
  }
  .header_top {
    display: none;
  }
  .logo img {
    transition: all ease-in-out 0.5s;
    max-width: 50px !important;
  }
  .header_right {
    display: none;
  }
  .header_toggle {
    display: block;
  }
  .mobile-header {
    display: inline;
  }
  .common_tittle h2 {
    font-size: 22px;
    margin: 6px 0 !important;
    text-align: center !important;
  }
  .banner {
    height: 500px;
  }
  .banner_text h1 {
    font-size: 25px;
    line-height: 34px;
  }
  .banner_text p {
    margin: 5px 0 !important;
    line-height: 20px;
    font-size: 13px !important;
  }
  .about_page_top p,
  .mission_section_content p {
    margin-top: 10px !important;
    text-align: center !important;
  }
  .mission_section_video {
    margin-top: 20px;
  }
  .mission_vision_right {
    order: 2;
  }
  .mission_section_video img {
    width: 100%;
  }
  .contact_address_column {
    margin-bottom: 10px;
  }
  .contact_map iframe {
    height: 280px;
  }
  .video_block {
    width: 100%;
    height: 240px;
    margin-top: 20px;
  }
  .video_block iframe {
    width: 100%;
    height: 100%;
  }
  .payment_page_column table {
    margin: 0px auto;
    width: auto;
  }
  .advisor_section_column h2,
  .advisor_section_column p {
    text-align: center;
  }
  .advisor_contact_btn {
    margin: 20px auto 0;
  }
  .who_column {
    width: 100% !important;
    border: none !important;
    margin-right: 0px !important;
  }
  .request_call_section {
    margin-top: 30px;
  }
  .request_call_section .row {
    margin: 0px;
  }
  .request_call_section .col-md-12 {
    padding: 0px;
  }

  .request_call_wrapper_column {
    height: auto;
    padding: 30px 30px !important;
    align-items: center;
  }
  .request_call_wrapper_column h4 {
    font-size: 17px;
    text-align: center;
  }
  .request_call_wrapper_column h2 {
    font-size: 22px;
    text-align: center;
    margin: 18px 0 26px !important;
  }
  .countries_section .owl-nav button {
    margin-left: -5px !important;
  }
  .countries_section .owl-nav button.owl-next {
    margin-right: -5px !important;
  }
  .services_slider_image,
  .blog_slider_image {
    height: auto;
  }
  .blogs_section_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .footer {
    padding: 40px 0px 20px;
  }
  .footer_column:nth-child(1) {
    margin: 0;
  }
  .footer_column .img-fluid {
    max-width: 76px;
  }
  .footer_column {
    margin-top: 25px;
    text-align: center;
  }
  .footer_column h3 {
    font-size: 16px;
    margin-bottom: 5px !important;
  }
  .footer_column ul {
    padding-bottom: 20px;
  }
  .footer_column ul li a::before {
    top: 0;
  }
  .social_links {
    margin: 20px 0;
  }
  .footer_column ul li {
    display: inline-block;
    margin: 6px 7px 0;
  }
  .footer_column ul li a,
  .powered_by_column div a {
    font-size: 13px;
    padding-left: 12px;
  }
  .footer_column p {
    line-height: 24px;
    font-size: 13px !important;
    margin-bottom: 5px !important;
  }
  .powered_by {
    padding-top: 20px;
    margin: 32px auto 0 !important;
    padding-bottom: 35px;
  }
  body .powered_by_column {
    text-align: center !important;
  }
  .powered_by_column div a {
    display: inline-block;
    width: auto !important;
    padding: 0 10px !important;
  }
  .sticky_bar {
    position: fixed;
    bottom: 0px;
    background-color: #dda23f;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    height: 39px;
    align-items: center;
    box-shadow: 0 0 2px #00000059;
  }
  .sticky_bar a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 20%;
    font-size: 18px;
    border-right: 1px solid #c89237;
    transition: all ease-in-out 0.5s;
  }
  .payment_sticky {
    right: 0px;
    bottom: 100px;
    width: 95px;
    padding: 10px;
    height: 35px;
    font-size: 10px !important;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    z-index: 99;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .video_block {
    width: 100%;
    height: 280px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .video_block {
    width: 100%;
    height: 390px;
  }
  .banner_text p {
    margin: 14px 0 23px !important;
    line-height: 25px;
    font-size: 15px !important;
  }
  .blog_slider_content {
    padding: 20px 12px 30px;
  }
  .testi_slider_wrapper {
    padding: 20px 20px;
  }
  .events_column_main {
    max-width: 50% !important;
  }
  .country_course_main {
    width: 50% !important;
    max-width: 50% !important;
  }
  .country_course_title {
    margin-top: -30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .common_tittle h2 {
    font-size: 28px;
  }

  .header {
    position: absolute;
  }
  .header_top {
    display: none;
  }
  .header_right {
    display: none;
  }
  .header_toggle {
    display: block;
  }
  .mobile-header {
    display: inline;
  }
  .who_column:nth-child(3) {
    border-right: 2px solid #153443;
    margin-right: 10px;
    width: 47%;
  }
  .request_call_wrapper_column h2 {
    font-size: 28px;
  }
  .request_call_wrapper_column h4 {
    font-size: 20px;
  }
  .countries_section .owl-nav button {
    margin-left: -5px !important;
  }
  .services_slider_image,
  .blog_slider_image {
    height: 200px;
  }
  .countries_section .owl-nav button.owl-next {
    margin-right: -5px !important;
  }
  .mission_section_video img {
    width: 100%;
  }
  .video_block iframe {
    width: 440px;
    height: 245px;
  }
  .social_links a {
    margin: 0px 4px;
  }
  .logo img {
    transition: all ease-in-out 0.5s;
    max-width: 60px !important;
  }
  .banner_text h1 {
    font-size: 32px;
  }
  .call_btn {
    display: none;
  }
  .sticky_bar {
    position: fixed;
    bottom: 0px;
    background-color: #dda23f;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    height: 39px;
    align-items: center;
    box-shadow: 0 0 2px #00000059;
  }
  .sticky_bar a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 20%;
    font-size: 18px;
    border-right: 1px solid #c89237;
    transition: all ease-in-out 0.5s;
  }
}

@media (min-width: 1024px) and (max-width: 1399px) {
  .header .navbar ul li {
    margin: 0 15px 0 0;
  }
  .phone_icon {
    height: 45px;
    width: 45px;
  }
  .phone_icon img {
    width: 30px;
  }
  .call_btn {
    width: auto;
    padding: 0 10px;
  }
  .call_btn h3,
  .call_btn p {
    font-size: 16px;
  }
}
