@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


/* .g_bold {
  font-family: 'AllRoundGothicW03-Demi';
} */
.g_medium {
  font-family: 'GothicMedium';
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0px 0 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#112019+0,303d37+50,606a65+100 */
}
body .container {
  max-width: 1300px;
}
.header .container, .popup_container {
  max-width: 1600px;
}
::-moz-selection {
  background: #e29554;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #e29554;
  color: #fff;
  text-shadow: none;
}
img {
  transform: scale3d(1, 1, 1);
}
a {
  outline: 0 !important;
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
}
p {
  font-size: 15px !important;
  line-height: 24px !important;
  margin: 0 !important;
  color: #707070;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
.no_padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no_margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
ul {
  padding: 0px !important;
  margin: 0px !important;
}
ul li {
  list-style-type: none;
}
section {
  display: inline-block;
  width: 100%;
  position: relative;
}
.w-100 {
  display: inline-block;
  width: 100%;
}
.clearfix {
  display: block;
  width: 100%;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

/* Common Css */
.header_flex {
  height: 120px;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.flex-center {
  display: flex;
  align-items: center;
}
.justify-end {
  justify-content: end;
}
.main_color {
  color: #edb454;
}
.common_btn {
  padding: 12px 24px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  transition: all ease-in-out 0.5s;
  font-weight: 600;
  border: 2px solid;
}
.common_btn:hover {
  background-color: #153443;
  color: #fff;
  border-color: #dda23f;
}
.common_btn i {
  margin-left: 10px;
}
.common_btn i.bi.bi-arrow-right-short {
  font-size: 20px;
  line-height: 10px;
  position: relative;
  top: 2px;
}
.common_title h3 {
  color: #edb454;
  font-weight: 400;
  font-size: 19px;
}
.common_title h2 {
  color: #153443;
  font-size: 44px;
  margin-top: 6px !important;
}
.common_title .common_btn {
  margin-top: 20px;
}
.common_padding {
  padding: 80px 0px;
}
.error-field {
  color: rgb(194, 21, 21);
}
p {
  font-size: 14px !important;
  margin-top: 0px !important;
  line-height: 26px;
  margin-bottom: 0 !important;
  color: #707070;
  padding: 0;
  font-weight: 500;
}

/* Header css */
.header {
  /* position: fixed; */
  width: 100%;
  z-index: 99;
  top: 0px;
  transition: all ease-in-out 0.5s;
}

.header_top {
  background-color: #153443;
  padding: 10px 0px;
}
.header_top_left div {
  display: inline-block;
  margin-right: 15px;
  color: #fff;
}
.header_top_left div a {
  font-size: 14px;
  color: #fff;
}
.header_top_right {
  display: flex;
  justify-content: flex-end;
}
.header_top_right a {
  margin-left: 20px;
}
.header_top_left div a img {
  margin-right: 5px;
}

.header_bottom.header_fixed {
  border-bottom: 2px solid #edb454;
  box-shadow: 0 0 4px #000;
  top: 0;
  transition: all ease-in-out 1s;
  background-color: #153443;
}
.header_fixed .logo img {
  transform: scale3d(1, 1, 1);
}
.header_bottom {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9999;
  transition: all ease-in-out 0.5s;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #fff;
}
.header_bottom.header_fixed .navbar ul li a:hover,
.header_bottom.header_fixed .navbar ul li.active a {
  color: #edb454;
}

.header_toggle {
  /* padding: 0px !important; */
  cursor: pointer;
  transition: all 0.5s ease 0s;
  border: none;
  background: transparent;
}

.header_toggle {
  display: none;
}
.navbar-cut-btn {
  border: none;
  outline: none !important;
  background-color: transparent;
  padding: 1px 6px;
  transition: all 0.5s ease 0s;
  overflow: hidden;
  z-index: 9999;
  display: block;
}
.mobile-header {
  background-color: #143443;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  display: inline;
}
.res-header-links ul {
  padding: 0;
}
/* .mobile-view-ul {
  text-align: center;
} */
.mobile-view-lists a {
  color: white;
  padding: 5px 0;
  font-size: 16px;
}

.mobile-view-lists-clr:hover {
  color: #edb454;
}
.header.header_fixed .header_bottom {
  padding: 16px 0;
}
.logo img {
  max-width: 250px;
  transform: scale3d(1, 1, 1);
  transition: all ease-in-out 0.5s;
}
.header .navbar .navbar-nav {
  flex-direction: inherit;
}
.header .navbar {
  margin: 0;
  width: auto;
  display: inline-block;
  padding: 0px;
}
.header_right {
  height: 120px;
  display: block;
  transition: all ease-in-out 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-header-div {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid #fff;
}
.header .navbar ul li {
  margin: 0 25px 0 0;
}
.header .navbar ul li a {
  padding: 0px !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 40px;
  color: #fff;
  transition: all ease-in-out 0.5s;
  text-transform: uppercase;
  position: relative;
}
.header .navbar ul li a:hover,
.header .navbar ul li.active a {
  color: #edb454;
}
.call_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dda23f;
  height: 100%;
  width: 280px;
}
.phone_icon {
  height: 56px;
  width: 56px;
  background-color: #edb454;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
}
.call_btn p {
  color: #fff;
}
.call_btn h3 {
  color: #fff;
  font-size: 20px;
}
.navbar .nav-item .dropdown-menu {
  display: none;
}
.navbar-nav .dropdown-menu {
  position: absolute !important;
}
.dropdown-menu li {
  margin: 0 !important;
  padding: 0 10px !important;
  border-bottom: 1px solid rgb(80, 78, 87);
}
.dropdown-menu li a {
  color: #fff !important;
  font-size: 12px !important;
}
.dropdown-menu li:hover {
  background-color: #dda23f !important;
  color: #fff;
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
  background-color: #153443;
  width: 260px;
}
.navbar .nav-item .dropdown-menu {
  padding: 0 !important;
}
.mobile-dropdown-header {
  border: none;
  background: transparent;
  display: block;
  color: white;
  padding: 5px 0;
  font-size: 16px;
}
.mobile-dropdown-header::after {
  display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.dropdown-body li a {
  color: white;
  font-size: 16px;
}

.dropdown-body {
  padding: 5px;
  /* border-top: 1px solid #E5E8EC; */
  display: none;
}

.dropdown-body.open {
  display: block;
}

.dropdown-item {
  padding: 1px 1rem !important;
}

/* Banner */
.banner_main {
  background-color: rgba(99, 98, 98, 0.082);
}
.banner {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00000054;
}
.sngle_banner {
  height: 440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.banner_content_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(4, 4, 4, 0.28);
  color: #fff;
}
.banner_text {
  position: relative;
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_text h1 {
  color: #fff;
  font-size: 48px;
}
.banner_text p {
  color: #fff;
  font-weight: 400;
  margin: 20px 0 25px !important;
  font-size: 16px !important;
}

/* About Us */
.who_we_are_left img {
  max-width: 100%;
}
.who_we_are_left.who_we_are_right {
  align-self: center;
}
.who_we_are_left p {
  margin-top: 10px !important;
}
.common_tittle p {
  margin-top: 0 !important;
  font-weight: 500;
}
.common_tittle h2 {
  color: #153443;
  font-size: 44px;
}
.who_we_are_left p {
  color: #707070;
  margin-top: 10px !important;
}
.who_column:nth-child(3) {
  border-right: 2px solid #153443;
  margin-right: 10px;
  width: 48%;
}
.who_column span {
  height: 54px;
  width: 54px;
  float: left;
  background-color: #153443;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}
.who_column span::before {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  border: 2px solid #dda23f;
  height: 62px;
  width: 62px;
  border-radius: 50%;
}
.who_column h4 {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}
.who_column p {
  margin: 4px 0 0 !important;
  line-height: 20px;
  color: #707070;
  font-size: 13px !important;
}
.who_column {
  float: left;
  width: 50%;
  margin-top: 25px;
}
.who_we_are_left .common_btn {
  margin-top: 30px;
}
.common_btn2 {
  background-color: #dda23f;
}
/* Services */
.services_section .owl-nav,
.blogs_section .owl-nav {
  display: flex;
  justify-content: center;
  /* position: absolute; */
  width: 100%;
  background: transparent;
  /* margin: 0px !important; */
  z-index: 9;
}
.services_section .owl-nav button,
.blogs_section .owl-nav button {
  background-image: url("/arrow-blue-left.svg") !important;
  background-repeat: no-repeat !important;
  width: 40px;
  height: 40px;
  margin: 0 !important;
  background-position: center !important;
  background-color: transparent !important;
  outline: none !important;
}
.services_section .owl-nav button.owl-next,
.blogs_section .owl-nav button.owl-next {
  background-image: url("/arrow-blue-right.svg") !important;
}
.services_section .owl-nav button span,
.countries_section .owl-nav button span,
.blogs_section .owl-nav button span,
.testimonials_section .owl-nav button span {
  display: none;
}
.services_slider_column,
.blog_slider_column {
  box-shadow: 0 0 10px #ccc;
  margin: 0 5px;
  background-color: #eff2f5;
}
.services_slider_image,
.blog_slider_image {
  /* height: 298px; */
  overflow: hidden;
  width: 100%;
}
.blog_main, .steps_head {
  margin-bottom: 20px;
}
.blog_slider_image img {
  height: 100%;
  width: 100%;
}
.services_slider_image span img {
  width: auto !important;
}
.service_slider_main .owl-stage-outer {
  padding: 30px 0;
}

.services_slider_column span {
  height: 77px;
  width: 77px;
  background-color: #153443;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -38px auto 0;
}
.services_slider_column h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px !important;
  margin-bottom: 14px !important;
}
.services_slider_column p {
  padding: 0 10px;
  color: #707070;
}
.services_slider_column a {
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 14px 0;
  color: #153443;
  font-size: 14px;
  font-weight: 500;
  transition: all ease-in-out 0.5s;
  margin-top: 24px;
}
.services_slider_column a i {
  font-size: 20px;
  position: relative;
  top: 3px;
  left: 10px;
}
.services_slider_column a:hover {
  color: #dca13e;
}
.services_section_left ul {
  margin-bottom: 0;
}
.services_section_left ul li {
  width: 100%;
  margin-bottom: 15px;
}
.services_section_left ul a {
  padding: 12px 20px;
  background-color: #DDA23F;
  color: #fff;
  font-size: 16px;
  width: 100%;
  transition: all ease-in-out 0.5s;
}
.services_section_left ul a:hover {
  background-color: #153443;
}
.services_section_left ul a i {
  float: right;
}

/* Call back */
.request_call_wrapper {
  background-color: #dda23f;
  height: 100%;
}
.request_call_wrapper_column {
  height: 100%;
  padding: 30px 50px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}
.request_call_wrapper_image img {
  width: 100%;
  height: 100%;
}
.request_call_wrapper_column h4 {
  font-size: 24px;
}
.request_call_wrapper_column h2 {
  font-size: 38px;
  margin: 18px 0 26px !important;
}
/* Country section */
.countries_section .owl-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  background: transparent;
  width: 100%;
  z-index: 9;
}
.countries_section .owl-nav button {
  background-image: url("/arrow-blue-left.svg") !important;
  background-repeat: no-repeat !important;
  width: 46px;
  height: 46px;
  margin-left: -20px !important;
  background-position: center !important;
  outline: none !important;
  border-radius: 50% !important;
  border-radius: 50% !important;
  box-shadow: 0 0 10px #ccc;
  background-color: #ffffff !important;
}
.countries_section .owl-nav button.owl-next {
  background-image: url("/arrow-blue-right.svg") !important;
  margin-right: -20px !important;
}
.countries_section .services_slider_column a {
  padding: 0px;
  border: none;
  margin: 0;
}
.flag_country {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  width: 100%;
  padding: 20px 20px;
}
.count_flag {
  height: 60px;
  position: relative;
  width: 60px;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -40px;
  margin-right: 14px;
}
.flag_country h3 {
  margin: 0px !important;
}
/* Blogs */
.grey_bg {
  background-color: #eff2f5;
}
.blog_slider_content {
  padding: 20px 25px 30px;
}
.blog_slider_content h4 {
  color: #153443;
  font-size: 17px;
  line-height: 25px;
  font-weight: 501;
  text-transform: uppercase;
}
.date_time {
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
}
.date_time span {
  font-size: 13px;
  color: #414141;
  margin-left: 10px;
}
.blog_slider_content .common_btn {
  margin-top: 10px;
  width: 170px;
}
/* Footer */
.footer {
  background-color: #153443;
  padding: 40px 0px;
}
.footer_column .img-fluid {
  max-width: 106px;
}
.social_links {
  margin-top: 20px;
}
.social_links a {
  margin: 0 7px;
}
.footer_column h3 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 21px !important;
}
.footer_column ul {
  padding: 0px;
  margin: 20px 0 0;
}
.footer_column ul li {
  list-style-type: none;
  margin-top: 11px;
}
.footer_column ul li a,
.powered_by_column div a {
  color: #fff;
  font-size: 15px;
  transition: all ease-in-out 0.5s;
  padding-left: 30px;
  width: 100%;
  position: relative;
}
.footer_column ul li a::before {
  content: "\F231";
  position: absolute;
  left: 0px;
  font-family: bootstrap-icons !important;
  font-size: 12px;
  top: 3px;
}
.footer_column p {
  color: #fff;
  line-height: 24px;
  font-size: 14px !important;
  margin-bottom: 8px !important;
}
.powered_by {
  margin-top: 40px !important;
  border-top: 1px solid #fff;
  padding-top: 40px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.powered_by_column div a {
  display: inline-block;
  width: auto;
  padding-right: 30px;
  padding-left: 0;
}
.powered_by_column p {
  color: #fff;
}
.powered_by_column p img {
  max-width: 80px;
  margin-left: 10px;
}
/* About Us */
.about_page_top {
  margin-bottom: 50px;
}
.about_page_top p {
  margin-top: 10px !important;
}
.align_center {
  align-items: center;
}
.mission_section_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: flex-start; */
  height: 100%;
}
.mission_section_content p,
.single_content_page p {
  margin-top: 20px !important;
}
.mission_section_video {
  width: 100%;
  /* border: 2px solid #153443; */
  /* border-radius: 10px; */
  overflow: hidden;
}
.mission_section_video video {
  width: 100%;
  border: 2px solid #153443;
  border-radius: 10px;
}
.testimonials_section {
  background-image: url("/testimonial-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}
.testimonials_section .common_tittle p,
.testimonials_section .common_tittle h2 {
  color: #fff;
}
.testimonial_slider {
  padding-top: 40px;
}
.testi_slider_wrapper {
  background-color: #fff;
  padding: 30px;
}
.testi_slider_left h4 {
  font-size: 13px;
}
.testi_slider_content h4 {
  color: #414141;
  font-size: 15px;
  margin-bottom: 10px !important;
  margin-top: 15px !important;
}
.testimonials_section .testi_slider_content p {
  font-size: 15px !important;
}
.testi_slider_content span {
  margin-left: 10px;
}
.testi_slider_content span i {
  color: #dda23f;
  margin-right: 4px;
}
.testimonial_slider .owl-carousel .owl-dots {
  display: flex !important;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px !important;
}
.testimonial_slider .owl-dots .owl-dot {
  background-color: #ccc !important;
  border-radius: 14px !important;
  margin: 0 3px;
  height: 5px;
  width: 30px;
}
.testimonial_slider .owl-dots .active {
  background-color: #e28736 !important;
}
.testimonial_slider .owl-dots button span {
  padding: 0 2px;
  margin: 0px !important;
}
.testimonial_slider .owl-dots button span::after {
  border: 1px solid #e28736;
}
/* Contact Us */
.contact_address_column div {
  background-color: #153443;
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  border-radius: 50%;
}
.contact_address_column span {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
}
.contact_address_column a {
  color: #153443;
  font-weight: 500;
}
.contact_address_column a:hover {
  color: #edb454;
}
.contact_map iframe {
  height: 500px;
  width: 100%;
}
.form_contact .form-group {
  margin-bottom: 0;
  margin-top: 25px;
}
.form_contact .form-group .form-control {
  height: 50px;
  box-shadow: none !important;
  border: 1px solid #d6d6d6;
  font-size: 14px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form_contact .form-group .form-control:focus {
  border-color: #dda23f;
}
.form_contact .form-group textarea.form-control {
  resize: none;
  height: 130px;
}
.contact_form .common_btn {
  width: 150px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/* Single blog */
.service_inquiry {
  background-color: #eff2f5;
  padding: 30px 20px 40px;
}
.service_inquiry .form-group .form-control {
  border-radius: 0px;
  border: none;
}
.service_inquiry .common_btn {
  width: 200px;
}
.services_content_image img {
  width: 100%;
  margin-bottom: 15px;
}
.page_content h3,
.page_content h4 {
  margin-top: 20px !important;
  font-size: 22px;
}
.page_content p:first-child {
  margin-top: 0 !important;
}
.post_content p,
.privacy_content p {
  margin-top: 15px !important;
}
.video_block {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.video_block iframe {
  width: 100%;
  height: 535px;
}
.page_content ol li,
.page_content ul li,
.accordion .card-body ul li {
  list-style-type: none;
  font-size: 14px !important;
  line-height: 26px;
  color: #707070;
  font-weight: 500;
  position: relative;
  padding-left: 18px;
  margin: 10px 0;
}
.page_content ol li::before,
.page_content ul li::before,
.accordion .card-body ul li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #dda23f;
}
b,
strong {
  font-weight: bolder;
}
.page_content ol,
.page_content ul,
.accordion .card-body ul {
  padding: 0px;
  margin: 10px 0 0;
}
.page_content p a,
.page_content ol li a,
.page_content ul li a {
  color: #dda23f;
  font-weight: 600;
}
/* payment */
body .payment_page_column h3 {
  margin-top: 0 !important;
  margin-bottom: 30px !important;
}
.payment_page_column table {
  margin: 0px auto;
  width: 500px;
}
.payment_page_column table tr td {
  text-align: left;
  padding: 7px 10px;
  border: 1px solid #cccc;
}
.payment_page_column h4 {
  margin-bottom: 20px !important;
  display: inline-block;
  margin-top: 28px !important;
  font-size: 20px;
  width: 100%;
}
.payment_page_column .common_btn {
  color: #fff;
  margin-top: 0;
}
.advisor_section {
  background-color: #dda23f;
  padding: 30px 0px !important;
}
.advisor_section .advisor_section_column:nth-child(1) {
  border-right: 2px solid #fff;
}
.advisor_section_column h2,
.advisor_section_column p {
  color: #fff;
}
.advisor_section_column p {
  margin-top: 5px !important;
  font-size: 16px !important;
}
.advisor_section_column a {
  padding: 0px;
}
.error-field {
  color: rgb(194, 21, 21);
}

.advisor_contact_btn {
  background-color: #153443;
  color: #fff;
  height: 50px;
  width: 250px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advisor_contact_btn a {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
}
.advisor_contact_btn a:hover {
  background-color: #fff;
  color: #dda23f;
}
.sticky_bar {
  display: none;
}
.payment_sticky {
  position: fixed;
  left: 10px;
  bottom: 40px;
  width: 149px;
  text-align: center;
  border: none;
  border-radius: 20px;
  z-index: 99;
  height: 50px;
  font-size: 15px;
  animation: glide .5s ease-in-out alternate infinite;
  /* background-image: url('/wp-content/uploads/2022/05/pay_btn.png'); */
  background-color: #eeb159 !important;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #153443 !important;
  font-weight: bold;
}
@keyframes glide {
  from {
    left: 10px;
    bottom: 40px;
  }

  to {
    left: 10px;
    bottom: 60px;
  }
}
.popup_btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #DDA240;
  border-radius: 50%;
  border: none;
  width: 60px;
  z-index: 99;
  height: 60px;
}
.popup_btn i {
  font-size: 25px;
  color: #fff;
}
.popup_btn .bi-x {
  font-size: 40px;
}
.popup::-webkit-scrollbar {
  width: 5px;
}

.popup::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.popup::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color:grey;
}
.popup {
  position: fixed;
  bottom: 80px;
  height: 500px;
  right: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #fff;
  z-index: 9999;
}
.popup-inner {
  max-width: 380px;
  
}
.popup-inner .popup_text{
  background-color: #DDA240;
  padding: 30px 10px 40px 10px;
  color: #fff;
  text-align: center;
}
.message_form {
  background: #fff;
  margin: -20px 20px 20px 20px;
}
/* .message_form .service_inquiry {
  background: #fff !important;
} */
.message_send {
  background-color: #DDA240;
  width: 100%;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}
.message_send:hover {
  opacity: 0.9;
}
.message_send i{
margin-right: 5px;
}

/* Categories */
.country_steps_section .steps_section_column span {
  margin: 0px auto 16px;
}
.steps_section_column span {
  position: relative;
  height: 90px;
  width: 90px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  transition: all ease-in-out 0.5s;
  align-items: center;
  margin: 18px 0;
}

.steps_section_column span::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  border: 2px dashed #DDA23F;
}
.steps_section_column h3 {
  font-size: 19px;
  color: #153443;
  font-weight: 600;
  margin-bottom: 10px !important;
}
.accordion_main {
  border: none;
}
.accordion_card {
  background-color: #EFF2F5;
  margin-top: 20px;
  border: none !important;
  border-radius: 4px !important;
}
.accordion__button {
  padding: 0px !important;
}
.accordion__button:before {
  /* display: inline-block; */
  float: right;
  position: relative;
  content: "";
  height: 10px;
  top: 16px;
  right: 16px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg) !important;
}
.accordion {
  border: none;
}
.accordion_title {
  padding: 15px 20px;
  color: #000;
  box-shadow: none !important;
  position: relative;
  /* background-color: #E28736; */
  border: none !important;
  font-size: 20px;
  text-decoration: none;
}
.accordion_card p{
  white-space: pre-line;  
  vertical-align: bottom;  
}
.accordion__button:hover {
  background-color: #EFF2F5 !important;
}