@font-face {
    font-family: 'AllRoundGothicW03-Book';
    src: url('AllRoundGothicW03-Book.woff2') format('woff2'),
        url('AllRoundGothicW03-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AllRoundGothicW03';
    src: url('AllRoundGothicW03-Medium.woff2') format('woff2'),
        url('AllRoundGothicW03-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AllRoundGothicW03-Demi';
    src: url('AllRoundGothicW03-Demi.woff2') format('woff2'),
        url('AllRoundGothicW03-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

