html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: 'GothicMedium';
  src: url('./fonts/AllRoundGothicW03-Medium.woff') format('woff'),
      url('./fonts/AllRoundGothicW03-Medium.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
